.auth-form {
  max-width: 300px;
  min-width: 300px;
}

.auth-form.sm {
  max-width: 100%
}

.auth-form ion-card-title {
  text-align: center;
}

.auth-form ion-button {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
}